.bg-custom{
	background: #283593 !important;
	
}

.navbar .nav-item .nav-link{
	font-size: 20px;
	color: rgb(255, 255, 255);
}

.navbar .nav-item:hover .nav-link{
	background: #c0c0c0;
	color: black;
	border-radius: 10px;
}



